body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    width: 300px;
    height: 40px;
    margin: 3px;
    border: none;
    border-radius: 7px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    font-size: 18px;
    padding-left: 10px;
}
select{
    width: 300px;
    height: 40px;
    margin: 3px;
    border: none;
    border-radius: 7px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    font-size: 18px;
    padding-left: 10px;
}
button.start-button{
    margin: 5px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-left: 150px;
    padding-left: 10px;
    background-color: rgba(109, 231, 115, 0.7);
    cursor: pointer;
}
.start-button:after{
    margin: 5px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding-left: 10px;
    background-color: rgba(177, 134, 255, 0.7);
    
}
.start-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  .start-button:hover {background-color: #d0facc}
button.stop-button{
    margin: 5px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-left: 0px;
    padding-left: 10px;
    background-color: rgba(255, 0, 0, 0.7);
    cursor: pointer;
}
.stop-button:after{
    margin: 5px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding-left: 10px;
    background-color: rgba(177, 134, 255, 0.7);
    
}
.stop-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
.stop-button:hover {background-color:rgb(250, 120, 120)}